body {

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    overflow-y: hidden;
    background-color: #f5f5dc;

}

.flex {

    display: flex;

}

input {

    height: 50px;
    width: 100%;
    font-size: 24px;

}

button {

    padding: 15px;
    margin-top: 10px;
    margin-left: 10px;

}

#numeros {

    display: flex;
    flex-direction: column;
    margin-top: 50px;

}

#operadores {

    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 20px;
    

}

#operadores button {

    margin-top: 5px;

}

.calculadora {

    border: 1px solid #a9a9a9;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

}